body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #002359;
    color: #fff;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

header .logo img {
    max-width: 80px;
    margin-left: 40px;
    border-radius: 50%;
    float: left;
    clear: both;
}

.navbar-blue a {
    color: #FFF;
    margin-right: 190px;
}

.navbar-blue a:hover {
    color: blue;
}

.navbar-blue .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    margin-left: -44px;
}

.navbar-blue .dropdown-item {
    margin: 0;
    padding: 10px 30px;
    color: black;
}

.navbar-blue .dropdown-menu {
    margin: 0;
}

section#home {
    text-align: center;
    background: url(https://kff.kz/images/bg.jpg);
    color: white;
}

.digit {
    text-align: center;
}

section#home h1 {
    color: white;
}

section {
    background-color: aliceblue;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h1, h2, h3 {
    color: #333;
}

a:hover {
    text-decoration: underline;
}

#home,
#news,
#photo,
#kpl,
#matches,
#newsletter {
    margin: 20px 0;
    padding: 2rem;
}

#tab1, #tab2 {
    background-color: white;
    color: dodgerblue;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.list-group {
    max-width: 1500px;
}

.list-group-item {
    margin-bottom: 10px;
}

.list-group-item:hover {
    transform: scale(1.05);
}

.list-group-item::before {
    font-weight: bold;
    margin-right: 10px;
}

.carousel-inner img {
    max-width: 100%;
}

.card {
    margin-bottom: 1rem;
}

.table1 {
    width: 80%;
    background-color: aliceblue;
}

#task-form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#new-task {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

#task-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

#task-form button:hover {
    background-color: #0056b3;
}

#task-list {
    padding: 0;
}

#task-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-list li:hover {
    transform: scale(1.05);
}

#task-list li button {
    margin-left: 15px;
    cursor: pointer;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

#task-list li button:hover {
    background-color: #0056b3;
}

#countdown {
    text-align: center;
}

#timer {
    display: flex;
    font-size: 25px;
    margin-top: 30px;
    justify-content: center;
}

.countdown-element {
    background-color: dodgerblue;
    color: white;
    margin: 17px 20px 17px 20px;
    padding: 5px 15px;
    border-radius: 50px;
    min-width: 40px;
}

.accordion-item {
    margin-bottom: 10px;
    border-radius: 4px;
}

.accordion-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.accordion-content {
    display: none;
    padding: 15px;
}

#newsletter {
    background-color: #002359;
    margin: 20px;
    text-align: center;
    padding: 4px;
    border: none;
}

.newsletter-form {
    font-size: 16px;
}

.newsletter-form button:hover {
    background-color: #001b46;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: #002359;
    color: #fff;
}


